name: WorkdayCalendar C++ CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

env:
  BUILD_TYPE: Release

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake --preset=linux-gcc-release
      working-directory: ${{github.workspace}}

    - name: Build library + example
      run: cmake --build --preset=linux-gcc-release-build --target workdaycalendarlib workdaycalendarexample
      working-directory: ${{github.workspace}}

    - name: Build tests
      run: cmake --build --preset=linux-gcc-release-build --target workdaycalendartests
      working-directory: ${{github.workspace}}

    - name: Run tests
      run: ctest --output-on-failure
      working-directory: ${{github.workspace}}/build/linux-gcc-release